<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8 sm:h-80 ">
    <div class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2
    transition-transform duration-300 hover:scale-110 hover:rotate-0">
      <img
        src="assets/journey/journey-1.jpg"
        alt="Profile Picture"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
    <div class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2
    transition-transform duration-300 hover:scale-110 hover:rotate-0">
      <img
        src="assets/journey/journey-2.jpg"
        alt="Profile Picture"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
    <div class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2
    transition-transform duration-300 hover:scale-110 hover:rotate-0">
      <img
        src="assets/journey/journey-3.jpg"
        alt="Profile Picture"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
    <div class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 rotate-2
    transition-transform duration-300 hover:scale-110 hover:rotate-0">
      <img
        src="assets/journey/journey-9.jpg"
        alt="Profile Picture"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>

    <div class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 -rotate-2
    transition-transform duration-300 hover:scale-110 hover:rotate-0">
      <img
        src="assets/journey/journey-4.jpg"
        alt="Profile Picture"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>
  </div>
</div>
