
<div class="flex h-full bg-zinc-50 dark:bg-black">
  <div class="flex w-full">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20">
        </div>
      </div>
    </div>
    <div class="relative flex w-full flex-col">
      <header class="pointer-events-none relative z-50 py-8">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <div class="relative flex gap-4">
                <div class="flex flex-1">
                </div>
                <div class="flex flex-1 justify-end md:justify-center">
                  <nav class="pointer-events-auto md:block">
                    <ul class="flex rounded-full px-3 text-sm font-medium custom-background">
                      <li *ngFor="let menu of menus">
                        <a [href]="menu.href" class="relative block px-3 py-2 custom-text-link cursor-pointer">{{menu.name}}</a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="flex justify-end md:flex-1">
                  <div class="pointer-events-auto">
                    <button
                      (click)="toggleTheme()"
                      class="rounded-full bg-white/90 px-3 py-2 custom-background cursor-pointer"
                    >
                    <img src="assets/modes/light.png" alt="light-mode" class="rounded-full h-6 w-6" [class.hidden]="isDarkMode"/>
                    <img src="assets/modes/dark.png" alt="dark-mode" class="rounded-full h-6 w-6" [class.hidden]="!isDarkMode"/>
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </header>

      <main class="flex-auto">
<!--        flex w-full max-w-7xl lg:px-8-->
        <div class="sm:px-8 mt-9">

          <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">

              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="flex flex-col md:flex-row items-center justify-between gap-8">
                  <!-- Left Side: Introduction -->
                  <div class="flex-1">
                    <div class="max-w-2xl">
                      <div class="w-28 h-28 bg-gradient-to-r from-blue-500 to-purple-500 rounded-full flex items-center justify-center transform transition hover:scale-110 cursor-pointer">
                        <img
                          src="assets/profile.jpg"
                          alt="Profile Picture"
                          class="w-24 h-24 rounded-full border-4 border-white dark:border-gray-800 object-cover "
                        />
                      </div>
                        <h1 class="text-3xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100 leading-normal">
                          Fullstack developer, freelancer and software architect
                        </h1>
                        <p class="mt-4 custom-text">
                          Hi, I'm Uuganaa, Welcome to my portfolio. I love building software that solves real-world problems.
                          Welcome to my portfolio. I love building software that solves real-world problems.
                        </p>
                      </div>
                      <div class="flex justify-items-start mt-4 space-x-4">
                        <a href="https://github.com" target="_blank" class="custom-text-link">GitHub</a>
                        <a href="https://linkedin.com" target="_blank" class="custom-text-link">LinkedIn</a>
                        <a href="/contact" class="custom-text-link">Contact</a>
                      </div>
                  </div>
                <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow-lg w-full md:w-1/4">
                  <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100 mb-4">My Achievements</h2>
                  <div class="space-y-4">
                    <!-- Projects Completed -->
                    <div class="flex items-center justify-between">
                      <span class="text-gray-600 dark:text-gray-300 text-sm">Projects Completed</span>
                      <span class="text-2xl font-bold text-blue-500" id="projectsCount">0</span>
                    </div>
                    <!-- Years of Experience -->
                    <div class="flex items-center justify-between">
                      <span class="text-gray-600 dark:text-gray-300 text-sm">Years of Experience</span>
                      <span class="text-2xl font-bold text-green-500" id="experienceCount">0</span>
                    </div>
                    <!-- Happy Clients -->
                    <div class="flex items-center justify-between">
                      <span class="text-gray-600 dark:text-gray-300 text-sm">Happy Clients</span>
                      <span class="text-2xl font-bold text-yellow-500" id="clientsCount">0</span>
                    </div>
                  </div>
                </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="mt-16 sm:mt-20">
            <app-timeline></app-timeline>
        </div>

        <div class="sm:px-8 mt-16 md:mt-16">
          <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                  <div class="flex flex-col gap-16">
                    <article class="group relative flex flex-col items-start cursor-pointer" *ngFor="let item of articles">
                      <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                        <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50"></div>
                        <a>
                          <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                          <span class="relative z-10">{{ item.title }}</span>
                        </a>
                      </h2>
                      <time class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5" datetime="2022-09-05">
                        <span class="absolute inset-y-0 left-0 flex items-center">
                          <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                        </span>
                        {{ item.time }}
                      </time>
                      <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                        {{ item.text }}
                      </p>
                      <div class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                        Read article
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-1 h-4 w-4 stroke-current">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                      </div>
                    </article>
                  </div>
                  <div class="space-y-10 lg:pl-16 xl:pl-24">
                    <app-tech-stack></app-tech-stack>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="mt-16 flex-none">
        <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
          <div class="max-w-7xl mx-auto px-6 text-center">
            <p>© 2025 Uuganbayar. All rights reserved.</p>
          </div>
        </div>
      </footer>

    </div>
  </div>
</div>
