<div class="flex h-full bg-zinc-50 dark:bg-black">
  <div class="flex w-full">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20">
        </div>
      </div>
    </div>
    <div class="relative flex w-full flex-col">
      <app-header></app-header>

      <main class="flex-auto">
        <!-- Sections -->
        <section id="home">
          <app-home></app-home>
        </section>
        <section id="about">
          <app-about></app-about>
        </section>
        <section id="projects">
          <app-projects></app-projects>
        </section>
        <section id="articles">
          <app-articles></app-articles>
        </section>
      </main>

      <footer class="mt-16 flex-none">
        <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
          <div class="max-w-7xl mx-auto px-6 text-center">
            <p>© 2025 Uuganbayar. All rights reserved.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
