<div class="flex h-full bg-zinc-50 dark:bg-black">
  <div class="flex w-full">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20">
        </div>
      </div>
    </div>
    <div class="relative flex w-full flex-col">

      <app-header></app-header>
      <div id="fullpage">
        <div class="section" id="home">
          <app-home></app-home>
        </div>
        <div class="section" id="about">
          <app-about></app-about>
        </div>
        <div class="section" id="projects">
          <app-projects></app-projects>
        </div>
        <div class="section" id="articles">
          <app-articles></app-articles>
        </div>
        <div class="section" id="footer">
          <app-footer></app-footer>
        </div>
      </div>


    </div>
  </div>
</div>
